* 	{
		@include vendorize(box-sizing, border-box);	 // content-box;  border-box;
	}
	html {
		//@include borders_teste($cor:cyan, $thick:4px, $style:solid);
		margin: 0;
		padding: 0;
		height: 100%;
	}
	body {
		//@include borders_teste($cor:#999, $thick:4px, $style:solid);
		background-color: black; 
		margin: 0;
		padding: 0;
		height: 100%;
	}