
// .............................................. 
// .............................................. 
// .............................................. 
// .............................................. 

//======================
@mixin borders_teste($cor:red, $thick:1px, $style:dotted)
{
  border: $cor   $thick   $style;
}
//======================
@mixin vendorize($property, $value) 
{     
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value; 
}
//======================
// ALIGN FLEXBOX - + RECENT; MIXIN OLD BOX SYNTAX + NEW CODE FLEXBOX

/*$direction: row,                            /*row   |   column  |  row-reverse   |   column-reverse;*/
/*$align_main_axis: flex-end,                 /*flex-start   |  flex-end  |  center space-between   |    space-around (NOT IE10)*/  
/*$align_second_axis: flex-end,               /*flex-start  |   flex-end  |  center*/
/*$expand_mode: 0,                            /*1 | 0  */ 
/*$wrap_mode: wrap                            /*nowrap | wrap*/
@mixin flexbox( $direction: row,                            
                $align_main_axis: flex-end,                 
                $align_second_axis: center,               
                $expand_mode: 0,                            
                $wrap_mode: wrap,
                $align_second_axis_wrap_mode: flex-start,  
                $shrink_mode: 0                          
              ) 
{ 
    /*==========================================
    IE10; FX18>=; CHROME 26>=; OPERA NEXT */
   /*========================================== VARS DE: DIRECTION, ALIGN X, E ALIGN Y */
   /*$direction: row;*/                  /*row;    column;     row-reverse;    column-reverse;*/
                                     /*OLD PARA box: box-direction:  normal | reverse | inherit*/ 
   /*$align_main_axis: flex-end;*/       /*flex-start     flex-end    center space-between       space-around*/  
   /*$align_second_axis: flex-end;     /*flex-start     flex-end    center*/                       
    
    /*========================================== DISPLAY*/ 
    display: -webkit-box;   
    display: -moz-box;
    display: -ms-flexbox;   
    display: -webkit-flex;
    display: flex;

    /*========================================== FLEX-DIRECTION*/
    $direction_old:  $direction;
   /* $direction_old2: $direction;*/   /* DESACTIVADO: SÓ BROWSERS <= FIREFOX 17 SÃO AFECTADOS */
    
    @if $direction == row {   $direction_old: horizontal;

    }@if $direction == column {  $direction_old: vertical;
    }    
    
    -webkit-box-direction:  normal; /*$direction_old2;  */                      /*normal | reverse | inherit   */
    -moz-box-direction:     normal; /*$direction_old2;  */ /* <=Fx17*/
    -webkit-box-orient:     $direction_old;   
    -moz-box-orient:        $direction_old; /*<=Fx17*/  /*horizontal|vertical|inline-axis|block-axis|inherit*/
    
    -ms-flex-direction:     $direction;

    -webkit-flex-direction: $direction;      
    flex-direction:         $direction;
    
    /*========================================== JUSTIFY-CONTENT main axis*/
    /*flex-start    flex-end    center      space-between       space-around*/
    /*OLD  box-pack: start|end|center|justify;*/
    $align_main_axis_old: $align_main_axis;
    
    @if $align_main_axis == flex-end {   $align_main_axis_old: end;

    }@if $align_main_axis == flex-start {  $align_main_axis_old: start;

    }@if $align_main_axis == space-between {  $align_main_axis_old: justify;

    }@if $align_main_axis == space-around {  $align_main_axis_old: justify; /* NÃO É POSSÍVEL SIMULAR EXACTA/ O space-around*/
    }

    -webkit-box-pack:           $align_main_axis_old;    
    -moz-box-pack:              $align_main_axis_old;  

    -ms-flex-pack:              $align_main_axis_old;

    -webkit-justify-content:    $align_main_axis;    
    justify-content:            $align_main_axis;
    
    /*==========================================  ALIGN-ITEMS  secondary axis*/
    /*               flex-start     flex-end    center      stretch... */
    /*OLD  box-pack: start          |end        |center     */   
    $align_second_axis_old: $align_second_axis;
    
    @if $align_second_axis == flex-end {
            $align_second_axis_old: end;

    }@if $align_second_axis == flex-start {
            $align_second_axis_old: start;
    }

    -webkit-box-align:   $align_second_axis_old;    
    -moz-box-align:      $align_second_axis_old;        /*Fx16,17*/        
    
    -ms-flex-align:      $align_second_axis_old;        /*IE10*/
    
    -webkit-align-items: $align_second_axis;            /*Ch26,27>; Fx*/
    align-items:         $align_second_axis;            /*Ch29>; Fx23>*/

    /*========================================== FLEX-WRAP*/
    -webkit-flex-wrap:  $wrap_mode;
    -moz-flex-wrap:   $wrap_mode;    
    -ms-flex-wrap:      $wrap_mode; 
    flex-wrap:          $wrap_mode; 

    
    /*==========================================   ALIGN-CONTENT  */
    //ÚTIL APENAS COM MULTILINE (QUANDO A PROP. flex-wrap: wrap);
    //ALINHA OS ELEMENTOS NA CROSS/SECONDARY AXIS, 
    -webkit-align-content:  $align_second_axis_wrap_mode;    
    -ms-flex-line-pack:     $align_second_axis_wrap_mode;    
    align-content:          $align_second_axis_wrap_mode; 
    /**/  

    /*==========================================  CHILDS  */
    > *{
                     /*GROW  SHRINK  BASIS*/
        /*flex:         0       1   auto;*/
            
        /*=========================================*/
       /* -webkit-box-ordinal-group: 0;
        -moz-box-ordinal-group: 0;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        */
        -webkit-box-flex:   $expand_mode;
        -moz-box-flex:      $expand_mode;
        -webkit-flex:       $expand_mode $shrink_mode auto;
        -ms-flex:           $expand_mode $shrink_mode auto;
        flex:               $expand_mode $shrink_mode auto; 
    }
}
//......................
// ALIGN FLEXBOX - SINGLE ITEM
//center | flex-start | flex-end | space-between | space-around | stretch 
//$valor: center |  flex-start | ... »»» 2º AXIS
//$expand_mode,  $shrink_mode        »»» 1º AXIS (@mixin flexbox( $direction: row | column )
@mixin flexbox_align_self($valor, $expand_mode: 0, $shrink_mode: 0)
{
    /* 
     https://developer.mozilla.org/en-US/docs/Web/CSS/align-self
                        The align-self CSS property aligns flex items of the current 
                        flex line overriding the align-items value. 
                        If any of the flex item's cross-axis margin is set to auto, 
                        then align-self is ignored.
                        Fx: >=18.0 (18.0) (behind a pref) [1]; 20.0 (20.0)
    */                    
    /* auto | flex-start | flex-end | center | baseline | stretch*/
    -webkit-align-self:     $valor;   /*Chrome 26; 27; Safari 6*/
    -ms-flex-item-align:    $valor;
    align-self:             $valor; 

     -webkit-box-flex:   $expand_mode;
     -moz-box-flex:      $expand_mode;
     -webkit-flex:       $expand_mode $shrink_mode auto;
     -ms-flex:           $expand_mode $shrink_mode auto;
      flex:              $expand_mode $shrink_mode auto; 
}
// .............................................. 
// .............................................. 
// .............................................. 
// .............................................. 
