/*
	//...... 
		RADIO BUTTONS, TO SIMULATE THE MENU;
		RADIO BUTTONS LABELS ARE THE ACTUAL BUTTONS (HOME, GLOBAL, OPEN/CLOSE BURGER ICON);
		CLASS .menu_rwd_holder4 CHANGES WIDTH/HEIGHT;
		.menu_rwd/.menu_rwd2 ANIMATIONS	 	
	//...... Mixins
		@include flexbox
		@include borders_teste
		@include vendorize
*/
// ============================================= MENU RWD
// ============================================= MENU RWD
// ============================================= MENU RWD
// ============================================= MENU RWD

	//========================= MENU MAIN HOLDER
	//..................
	.menu_rwd_holder4 {
			$____font1: Arial, Verdana;
			$____cor_destaque: #66ee66;  	//green

	    	//@include borders_teste($cor: #999, $thick:3px, $style:dashed); 
	    	background-color: $____cor_destaque; //~GREEN
			height: 100px;  	//CHANGED ONCLICK BUTTONS
			//	height: auto; 			//----- TESTES
			margin: 0 0 0 0;
			overflow: hidden;
			padding: 0;
			position: absolute;
			right: 0;
			//right: 10px; 		//----- TESTES
			width: 322px;  		//CHANGED ONCLICK BUTTONS
			//width: 622px;  			//----- TESTES
			
			transform-origin:  100% 0%;
			
			@include vendorize(transition, (height .3s ease-in-out, width .3s ease-in-out)); 
      		@include vendorize( transform,  scale(1) );
      		/*@include flexbox( $direction: column,                            
                $align_main_axis: flex-start,                 
                $align_second_axis: flex-end,               
                $expand_mode: 1,                            
                $wrap_mode: nowrap,
                $align_second_axis_wrap_mode: flex-start,  
                $shrink_mode: 0                          
            ); */
      		
      		will-change: auto;

			//...............
		    .menu_header { 
		    	//@include borders_teste($cor:red, $thick:2px, $style:solid);  
				height: 100px;
				max-height: 100px;
				position: relative;
				width: 100%;
			}
		    //............... LABELS RADIO BUTTONS + BURGER ICON
		    .holder-menu-elements {
		    	//@include borders_teste($cor:black, $thick:1px, $style:dashed);
		    	bottom: 20px;
		    	font-size: 0;
		    	padding: 0;
		    	position: absolute;
		    	text-align: right;
		    	width: 100%;     
		    }
		    //............... DIV HOLDER .menu_rwd | .menu_rwd2
		    .menu_body {
				//@include borders_teste($cor:cyan, $thick:4px, $style:solid);
	 			width: 100%; 			//IMPORTANT
	 			height: 100%; 
			}	 
		    //...............
		    .menu_rwd,
			.menu_rwd2 {
				//@include borders_teste($cor:black, $thick:1px, $style:solid);
				display: inline-block;
				left: auto;
				position: absolute;
				right: 0; 		//IMPORTANT			
				width: 30%;
				@include vendorize( transform,  translateX(300px) );	
				//...... WAIT, UNTIL LI'S ANIMATE EXIT (@mixin anim_lis(...))
				@include vendorize( transition, transform .1s .3s linear );

				will-change: auto;
			}
			//...............
			.menu_rwd  {}
			.menu_rwd2 { /*@include borders_teste($cor:red, $thick:1px, $style:solid);*/ }
			//...............
			.menu_rwd_li {	
				//@include borders_teste($cor:yellow, $thick:2px, $style:dashed);
				display: inline-block;
				font-size: 0;
				height: auto;		
				margin: 0 0 36px 0; 	
				opacity: 0.3;
				padding: 0;
				position: relative;
				width: 100%;
				@include vendorize( transform,  translateX(400px) );  //CHANGED ONCLICK RADIO BUTTONS
				@include vendorize(transition, all .3s ease-out); 

				will-change: auto;
		    }
		    //............... 
		    .menu_rwd_btn {
		    	//@include borders_teste($cor:red, $thick:1px, $style:solid);
			    color: black;
			    cursor: pointer;
			    display: inline-block;
			    font-family: $____font1;
			    font-size: 18px;
			    font-weight: normal;
			    height: 100%;
			    letter-spacing: 0.5px;
			    margin: 0 0 0 0;
			    padding: 0 0 10px 0;
			    position: relative;
			    text-align: right;
			    text-decoration: none;
			    width: 100%;

				@include vendorize(transition, all .4s linear);  
		    }
				
		    

		    













		    //...... LABELS RADIO BUTTONS (HOME, GLOBAL, OPEN/CLOSE BURGER ICON)
		    //...... LABELS RADIO BUTTONS (HOME, GLOBAL, OPEN/CLOSE BURGER ICON)
		    //...... LABELS RADIO BUTTONS (HOME, GLOBAL, OPEN/CLOSE BURGER ICON)
		  	//...... LABELS RADIO BUTTONS (HOME, GLOBAL, OPEN/CLOSE BURGER ICON)
		  		
		      	//...... BTN'S LABELS HOME, GLOBAL
		      	.menu-regular-btns-label {
		      		//@include borders_teste($cor:red, $thick:1px, $style:dashed);
		      		display: inline-block;
		      		font-size: 14px;
		      		margin: 0 0 0 36px;
		      		padding: 7px 0 7px 0;
		      		position: relative;
		      		white-space: nowrap;
		      		//...... BUTTON BOTTOM BAR (HOME, GLOBAL)
					.btn_hr_holder {
						//@include borders_teste($cor:blue, $thick:1px, $style:dotted);
						display: block;
						height: 100%; 
						left: 0;
						position: absolute;
						top: 0;
						width: 100%;
						//...... 
						.btn_hr {
							background-color: black;  
							bottom: 0;  
							display: block;  
							height: 2px;  
							left: auto;    
	 						opacity: 0;
							padding: 0;  
							position: absolute;  
							right: auto; 	
							top: auto;     
							width: 100%;  
							@include vendorize( transform,  scale(0) ); 
							@include vendorize(transition, all .3s ease-in-out); 
							will-change: auto;
						}
					}
		      	}
		      	//......
		      	.menu-regular-btns-label:hover {
					//................ BUTTON BOTTOM BAR
					.btn_hr {
						opacity: 1;	  
						@include vendorize( transform,  scale(1) ); 	
					}
				}
		      	//...... 
		      	//...... LABELS BTN OPEN/CLOSE, 
		      	//...... ESTÃO NA MESMA POSIÇÃO DO BURGER ICON (.holder-icon-bar),
		      	//...... PARA SIMULAR O EFEITO DA CHECKBOX, OPEN/CLOSE
		      	.menu-burger-btns-label {
		      		//@include borders_teste($cor:blue, $thick:2px, $style:dashed);
		      		//...... DEVE FICAR POR CIMA DO BURGER ICON === BURGER ICON (.holder-icon-bar)
		      		height: 16px;   //...... === BURGER ICON (.holder-icon-bar)
		      		margin: 6px 0 0 0;
		      		opacity: 0;
		      		position: absolute; 	//IMPORTANT
		      		right: 52px;
	 				top: 0;
	 				width: 18px;   //...... === BURGER ICON (.holder-icon-bar)
		      	}
		      	//...... LABEL BTN OPEN - NO INÍCIO ESTÁ ACTIVADO
		      	#radio-btn-label-burger1-open {
		      		@include borders_teste($cor:blue, $thick:2px, $style:dashed);
		      	}
		      	//...... LABEL BTN CLOSE - NO INÍCIO ESTÁ DESACTIVADO
		      	#radio-btn-label-burger2-close {
		      		@include borders_teste($cor:red, $thick:2px, $style:solid);
		      		display: none;
		      	}
		    //..... 

		    




















		    //================================== BURGER ICON, LABEL OU OS DOIS
			//================================== BURGER ICON, LABEL OU OS DOIS
			//================================== BURGER ICON, LABEL OU OS DOIS
			//================================== BURGER ICON, LABEL OU OS DOIS

				//................ HOLDER BURGER ICON
				.holder-icon-bar {
	 					$total_height: 16px;
				        $midlle__height: 8px;
				        $bar_thickness: 2px;
				        $bar_interval: 3px;

	 					//@include borders_teste($cor:yellow, $thick:1px, $style:solid);

						cursor: pointer;
						display: inline-block;
						height:  $total_height; 
						//...... === margin-top do .menu-burger-btns-label {
						margin: 6px 52px 0 26px;
						//overflow: hidden;
						padding: 0;  
						position: relative;
						//right: 10px;
						width:  18px;	

						-webkit-touch-callout: none;
				        @include vendorize(user-select, none); 
				        @include vendorize(box-sizing, content-box); 
				        
				        //...... LINES BURGUER ICON
						.icon-bar {
							background-color: black;
							border-radius: 0px;
							height: $bar_thickness; //2px;
							left: 0;
				  			position: absolute;
				  			top: 50%;
				  			width:  100%;	
			 				transform-origin:  50% 50%; 
		
			 				//...... Existe outra transition para fazer o delay no transform:
			 				@include vendorize(transition, (opacity .4s .4s linear, transform .2s .4s linear)); 
			 				will-change: auto;
			 			}
						//...... 1ª 
			 			.icon-bar-a { transform: translateY(-($bar_thickness + $bar_interval) ) };
			 			//...... 2ª 
						//.icon-bar-b {}
						//...... 3ª
						.icon-bar-c { transform: translateY( ($bar_thickness + $bar_interval)) };   
				}
	}//.................. .menu_rwd_holder4   END!

	//...... RADIO BUTTONS INVISIBLES, 
	//...... LABELS (HOME, GLOBAL, OPEN/CLOSE BURGER ICON);
	.menu-burger-btns {
		display: none;
	}
	
	//========================= CHANGES IN RADIO BUTTONS
	
		//...... BURGER ICON TRANSITION ACTIVE (TO CROSS)
		#radioHome:checked ~ 	.menu_rwd_holder4 .holder-icon-bar,
		#radioGlobal:checked ~ 	.menu_rwd_holder4 .holder-icon-bar,
		#radioBurger1:checked ~ .menu_rwd_holder4 .holder-icon-bar {
			.icon-bar { 
				@include vendorize(transition, (opacity .4s linear, all .2s .4s linear)); 
			}
			//......
			.icon-bar-a { @include vendorize(transform, rotate(45deg) ); }	
			//......
			.icon-bar-b { opacity: 0; }
			//......
			.icon-bar-c { @include vendorize(transform, rotate(-45deg) ); }	
			//......
		} 
		//...... .menu_rwd_holder4: CHANGES IN WIDTH/HEIGHT
		#radioGlobal:checked ~ 	.menu_rwd_holder4,
		#radioHome:checked ~ 	.menu_rwd_holder4,
		#radioBurger1:checked ~ .menu_rwd_holder4 {
			height: 100%;
			width: 640px;
			
			@include vendorize(transition, (height .3s ease-in-out, width .3s ease-in-out));		
		}
		//...... LI'S MENUS .menu_rwd | .menu_rwd2
		@mixin anim_lis($qual_elem:'.menu_rwd_li', $total_elem: 5)      
		{
			$ease_time: .2s;
			$__total_elem: $total_elem;
			$total_elem_utilizados: 1;
			//...... Loop 
			 @for $i from $total_elem_utilizados through $__total_elem {
			    //.elem_child:nth-child(#{$i}) { opacity: 0.5; }
			    #{$qual_elem}:nth-child(#{$i}) { @include vendorize( transition, (all  .3s $ease_time ease-out, opacity  .3s 0.2s linear) ); }		
				$ease_time: $ease_time + 0.1;
			}
		}        
		//...... .menu_rwd ACTIVE
		#radioHome:checked ~ 	.menu_rwd_holder4,
		#radioBurger1:checked ~ .menu_rwd_holder4 {
			//......
			.menu_rwd {	
				//right: 0;
				//@include vendorize( transition, none );
				//...... HOLDER of .menu_rwd_li, POSITION IN PLACE 
				@include vendorize( transform,  translateX(-94px) );	
				//...... 
				.menu_rwd_li {	
					opacity: 1;
					@include vendorize( transform,  translateX(0) );	
				}
				//...... anim li's (.menu_rwd_li) transition
				@include anim_lis();
			}
			//...... BTN HOME ACTIVE
			.menu_header {
				#radio-btn-label-home {
					//...... //...... BUTTON BOTTOM BAR ACTIVE
					.btn_hr {
						opacity: 1;	  
						@include vendorize( transform,  scale(1) );
					}
				}
			}//... .menu_header END! 
		}
		//...... CLICK GLOBAL BUTTON: .menu_rwd2 ACTIVE
		#radioGlobal:checked ~ .menu_rwd_holder4 {
			//......
			.menu_rwd2 {	
				//right: 0;
				//@include vendorize( transition, none );
				//...... HOLDER of .menu_rwd_li, POSITION IN PLACE
				@include vendorize( transform,  translateX(-172px) ); 
				//...... 
				.menu_rwd_li {	
					//left: 0;
					@include vendorize( transform,  translateX(0) ); 
					opacity: 1;
				}
				//...... ANIM LI'S (.menu_rwd_li) TRANSITION
				@include anim_lis($qual_elem:'.menu_rwd_li', $total_elem: 5);
			}
			//...... BTN GLOBAL ACTIVE
			.menu_header {
				#radio-btn-label-global {
					//...... BUTTON BOTTOM BAR ACTIVE
					.btn_hr {
						opacity: 1;	  
						@include vendorize( transform,  scale(1) );
					}
				}
			}//... .menu_header END! 
		}	 	  			
		//..... CLICK ON ANY RADIO BUTTONS:
		//..... LABEL BTN OPEN INACTIVE
		#radioHome:checked ~ .menu_rwd_holder4  .menu_header .holder-menu-elements 		#radio-btn-label-burger1-open,
		#radioGlobal:checked ~ .menu_rwd_holder4  .menu_header .holder-menu-elements 	#radio-btn-label-burger1-open,
		#radioBurger1:checked ~ .menu_rwd_holder4  .menu_header .holder-menu-elements 	#radio-btn-label-burger1-open {
		 	//@include borders_teste($cor:red, $thick:2px, $style:dashed);
		 	display: none;
		}
		//..... LABEL BTN CLOSE ACTIVE 
		#radioHome:checked ~ .menu_rwd_holder4 .menu_header .holder-menu-elements 	#radio-btn-label-burger2-close,
		#radioGlobal:checked ~ .menu_rwd_holder4 .menu_header .holder-menu-elements 	#radio-btn-label-burger2-close,
		#radioBurger1:checked ~ .menu_rwd_holder4 .menu_header .holder-menu-elements 	#radio-btn-label-burger2-close {
		 	//@include borders_teste($cor:green, $thick:2px, $style:solid);
		 	display: block;
		}
// ============================================= MENU RWD
// ============================================= MENU RWD
// ============================================= MENU RWD
// ============================================= MENU RWD   END!